---
import { AUTHORS } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const games = await getCollection("games");
  return games.map((game) => ({
    params: { slug: game.id },
    props: game,
  }));
}
type Props = CollectionEntry<"games">;

const game = Astro.props;
const { Content } = await render(game);
---

<Layout {...game.data}>
  <article>
    <script
      type="application/ld+json"
      set:html={JSON.stringify([
        {
          "@context": "https://schema.org/",
          "@type": "VideoGame",
          headline: game.data.title,
          name: game.data.title,
          description: game.data.description,
          datePublished: game.data.pubDate.toISOString(),
          dateModified: game.data.updatedDate?.toISOString() ?? undefined,
          author: {
            "@type": "Person",
            name: game.data.author,
            url: AUTHORS[game.data.author].url,
          },
          publisher: {
            "@type": "Organization",
            name: "We Make Games",
          },
        },
        {
          "@context": "https://schema.org/",
          "@type": "BreadcrumbList",
          itemListElement: [
            {
              "@type": "ListItem",
              position: 1,
              item: {
                "@id": new URL("/games", Astro.site),
                name: "Games",
              },
            },
            {
              "@type": "ListItem",
              position: 2,
              item: {
                "@id": new URL(Astro.url.pathname, Astro.site),
                name: game.data.title,
              },
            },
          ],
        },
      ])}
    />
    <h1>{game.data.title}</h1>
    <address>
      By <a href={`//github.com/${game.data.author}`}>{game.data.author}</a>
    </address>
    <p>
      <time datetime={game.data.pubDate.toISOString().slice(9)}>
        <!-- It shouldn't have to be like this but it is :( -->
        {game.data.pubDate.toLocaleDateString("en-CA")}
      </time>
    </p>
    <Content />
  </article>
</Layout>
