<table class="width:100%">
  <thead>
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Who made it</th>
      <th scope="col">Premise</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{ range .pageList }}
      <tr>
        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        <td>
          <a
            href="//github.com/{{ index .Site.Params.githubs .Params.author }}">
            {{ .Params.author }}
          </a>
        </td>
        <td>{{ .Description }}</td>
        {{ $statusClasses := dict "published" "ok" "early access" "warn" "stalled" "warn" "abandoned" "bad" "not started" "bad" }}
        <td
          style="background-color:var(--{{ index $statusClasses .Params.status | default "bad" }}-bg);--gap:0.25rem;vertical-align:middle;"
          class="padding-inline">
          {{ .Params.status }}
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
