---
import { AstroSeo } from "@astrolib/seo";
import "@/styles.css";
import "@fontsource/source-sans-3";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = "Home",
  description = "We are a group of absolute NERDS who make games",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <AstroSeo
      {title}
      titleTemplate="%s | We Make Games"
      {description}
      canonical={canonicalURL.toString()}
      openGraph={{
        url: canonicalURL.toString(),
        title,
        description,
        site_name: "We Make Games",
      }}
    />
  </head>
  <body>
    <header class="navbar max-sm:flow-col">
      <nav class="contents" aria-label="Site navigation">
        <p class="allcaps bold">We Make Games</p>
        <hr class="max-sm:hidden" />
        <ul role="list" class="flex-wrap">
          <li>
            <a href="/" rel="home">Home</a>
          </li>
          <li>
            <a href="/games">Games</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        There really isn&rsquo;t enough to copyright here. Uh,
        <!-- @ts-expect-error -->
        <span xmlns:cc="//creativecommons.org/ns#">
          the content of this site is licensed under
          <a
            href="//creativecommons.org/licenses/by/4.0"
            target="_blank"
            rel="license noopener noreferrer"
            class="inline"
          >
            CC BY 4.0
          </a>.
        </span>
      </p>
    </footer>
  </body>
</html>
